body {
  background-color: #011825;
}

.stars {
  z-index: 0;
  width:100%;

}
.Sun {
  z-index: 2;
}

.Planets {
  z-index: 2;
}
.Moutains {
  z-index: 2;
}
.BottomMountains {
  transform: translateY();
  z-index: 3;
}
.Crater {
  z-index: 5;
}
.LoadingScreen{
    z-index: 12;
}
